* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

table {
    font-size: 9pt;
    align: center;
}

th {
    font-weight: normal;
    text-align: left;
}

td {
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

input {
    font-size: 9pt;
}

select {
    font-size: 9pt;
    width: 160px
}

img {
    border: 0;
    padding: 0;
    margin: 0;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h3 {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.dtree {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
}

.dtree img {
    border: 0px;
    vertical-align: middle;
}

.dtree a {
    color: #333;
    text-decoration: none;
}

.dtree a.node, .dtree a.nodeSel {
    white-space: nowrap;
    padding: 1px 2px 1px 2px;
}

.dtree a.node:hover, .dtree a.nodeSel:hover {
    color: #333;
    text-decoration: underline;
}

.dtree a.nodeSel {
    background-color: #c0d2ec;
}

.dtree .clip {
    overflow: hidden;
}

.dtree .cx {
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 15px;
}